*.pyc
*~
\#*
.#*
.emacs*
.~*
doc/_build

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Sphinx documentation
docs/_build/

/TAGS
/test/nick/ephysExperiments/.ropeproject/config.py
/test/nick/ephysExperiments/.ropeproject/history
/test/nick/ephysExperiments/.ropeproject/objectdb
/common/2020nsf/RawData_NSFNCS.txt
/common/2020nsf/old01_figure_behavior_effect.py
/common/2020nsf/boxplot_Accent_Points_MBB.pdf

